* {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body{
    background-color:darkslategray;
    margin: 0;
}

/*Header*/

header{
    border: deepskyblue 5px solid;
    padding: 40px;
    background-color: blue;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 100px;
}

header h1 {
    text-align: center;
    background-color: blue;
    position: relative;
    top: 18px;
    left: 10px;
}

header img{
    position: absolute;
    top: 50px;
    left: 800px;
    display: block;
    width: 50%;
    width: 125px;
    height: 125px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

/*Main*/

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;

}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin: 5px;
}

main {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

article {
    padding: 10px;
    background-color: darkslategray;
    border: green 2px solid;
    border-radius: 10px;

}

article p {
    text-indent: 20px;
}

.work_h2, {
    position: absolute;
    top: 0;
    left: 8px;
}

.projects {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 50px 5px 0px 5px;
    min-height: 200px;
    text-align: center;
}


/*Created from instructors flex grid system*/

.card:hover {
    box-shadow: 0 0 10px #000 inset;
}

#project_1{
    background-color: coral;
}

#project_2{
    background-color: chocolate;
}

#project_3{
    background-color: crimson;
}

#project_4{
    background-color: brown;
}

