* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    box-sizing: border-box;
}

body{
    background-color:darkslategray;
    margin: 0;
}

/*Header*/

.header{
    display: flex;
    justify-content:space-evenly;
    border: deepskyblue 5px solid;
    padding: 40px;
    background-color: blue;
    border-radius: 10px;
}

.header h1 {
    background-color: blue;
}

.header img{
    width: 125px;
    height: 125px;
    border-radius: 10px;
}

/*aside*/

.float-left {
    float: left;
    margin-right: 25px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
}

nav a {
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin: 5px;
}

/*Main*/

main {
    position:relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

article {
    padding: 10px;
    background-color: darkslategray;
    border: green 2px solid;
    border-radius: 10px;

}

article p {
    text-indent: 20px;
}

.work_h2, {
    position: absolute;
    top: 0;
    left: 8px;
}

.projects {
    justify-content: space-evenly;
    margin: 50px 5px 0px 5px;
    min-height: 200px;
    text-align: center;
    border-radius: 10px;

}
.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 0 10px #000 inset;
}

#project_1{
    background-color: coral;
}

#project_2{
    background-color: chocolate;
}

#project_3{
    background-color: crimson;
}

#project_4{
    background-color: brown;
}


@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }



@media screen and (max-width: 768px) {
    .card {
        width: 100%; 
        max-width: 100%; 
        flex: 0 0 100%;
    }

    .float-left {
        float:none;
        margin-right: 0;
    }

    nav{
        flex-direction: row;
        float: none;
    }